<h2>Add Person</h2>
<form {{action addPerson on="submit"}}>
<label for="personName">Name</label>
{{input type="text" valueBinding='personName'}}
<label for="personEmail">Email</label>
{{input type="email" valueBinding='personEmail'}}
<button>Add Person</button>
</form>