<ul>
  {{#each people}}
  <li>
  {{#link-to "person" this}}
    {{name}}
  {{/link-to}}
    {{#if isMe}}
      (you)
    {{else}}
      <!--<button {{action 'challenge'}} class="button blue">Challenge</button>-->
    {{/if}}
  </li>
  {{/each}}
</ul>
