<h2>Add Person</h2>
<label for="person-name">Name</label>
{{input type="text" name="person-name"}}
<label for="person-email">Email</label>
{{input type="email" name="person-email"}}
<button {{action "addPerson"}}>Add Person</button>
