.alert{
 clear: both;
 margin: 0;
 padding: .75em 0;
 text-align: center;
 color: #fff;
 .game{
  padding: 0;
 }
 &.current-game{
  background: #81C791;
 }
 &.incoming-challenge{
  background: #FF4040;
 }
}

.alert--player-name{
  font-family: $f-adelle;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.alert--sub{
  @include f-avenir;
  font-size: .65em;
  vertical-align: center;
  text-transform: uppercase;
}

.alert--header{
  font-family: $f-avenir;
  font-size: .5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}



///////
