// global styling for avatar images

.avatar--small{
  height: 1.6em;
  width: 1.6em;
  @include round-borders;
  margin: 0;
  padding: 0;
}

.avatar--med{
  height: 2em;
  width: 2em;
  @include round-borders;
  margin: 0;
  padding: 0;
}

.avatar--link {
  display: inline-block;
}