.content--container{
  float: left;
  width: 60%;
}
.content--container--game{
  float: none;
  width: 100%;
}
.content--other{
  float: left;
  width: 40%;
}
.action--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
