// *, *:before, *:after {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box; 
//   box-sizing: border-box;
// }
   
html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

label {
  display: block;
}
a {
  color: #333;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
  width: auto;
}
h2 {
  margin: .25em 0;
}
.challenge--actions{
  margin: .5em 0;
}
.challenges--container {
  display: none;
}
.visible{
  display: block;
}
