.banner {
  background-color: #fff;
  width: 100%;
}

.utility--auth{
  position: absolute;
  top: 0;
  right: 0;
}
.utility--list{}
.utility--list-item{
  display: inline;
  float: left;
  &:first-child{
    margin: .75em 1em 0 0;
  }
  &:nth-child(2){
    margin: .7em 1em 0 0;
  }
}