.banner {
  background-color: #fff;
  width: 100%;
}

.banner--navigation {
  list-style: none;
  padding: 0.25em 0;
  margin: 0;
}

.banner--navigation--item{
  display: inline-block;
  color: #2f2f2f;
  font-size: .8rem;
  a{
    color: #41788c;
  }
    
  &:before{
    margin: 0 .5em;
    content: "|";
    display: inline-block;
  }
  &:first-child:before{
    content: "";
    margin: 0;
  }
}
    
.banner--navigation--login{
  float: right;
  &:before{
    content: "";
  }
}
