.heading--large{
  font-family: $f-avenir;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline;
  padding: 1em 0;
}

.heading--link{
  color: #fff;
}

.heading--table{
  padding: 0;
  margin: 0;
}