.main {
  margin: 1em auto;
  max-width: 60em;
  padding: 0em 1em;
}

.content--other{
  float: none;
  display: block;
  @include sb-media(56em){
    float: left;
    width: 30%;
    margin-left: 5%;
  }
}
.content--container{
  float: none;
  display: block;
  @include sb-media(56em){
    float: left;
    width: 70%;
  }
}
.content--container--game{
  float: none;
  width: 100%;
}
.action--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
