.main {
  margin: 0em auto;
  max-width: 60em;
  padding: 0em 1em;
}

.content--other{
  float: none;
  display: block;
  @include sb-media(56em){
    float: left;
    width: 23%;
    margin-left: 2%;
  }
}
.content--container{
  float: none;
  display: block;
  @include sb-media(56em){
    float: left;
    width: 74.9%;
  }
}
.content--container--game{
  float: none;
  width: 100%;
}
.action--list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.action--container {
  .action--button--container{
    text-align: center;
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
  padding: .5em;
  background-color: #eee;
  margin-bottom: .5em;
  text-align: center;
}
