.leaderboard {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
 }

.leaderboard--person {
  display: block;
  margin: .5em 0;
  margin-left: 0;
  background-color: #fff;
}
.leaderboard{
}
.leaderboard--person--name {
  display: inline-block;
  width: auto;
  @include sb-media(35em){
    width: 16em;
  }
  margin-right: 1em;
}
.leaderboard--stats {
  display: block;
  margin-left: 5em;
  @include sb-media(35em){
    display: inline-block;
    margin-left: 0em;
  }
}

.leaderboard--stat {
  width: 3em;
  display: inline-block;
}
.leaderboard--header {
  border-bottom: 1px solid #ccc;
  margin-bottom: .25em;
  font-weight: bold;
  padding-left: 5em;
  .leaderboard--person--name {
    @include sb-media(35em){
      padding-left: 1em;
      width: 15em;
    }
  }
  @include sb-media(35em){
    padding-left: 3em;
  }
  .leaderboard--stats {
    margin-left: 0;
  }
}

.leaderboard--person--avatar {
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
}
.isMe {
  .leaderboard--person--avatar, .person--avatar {
    border-color: #6E8BFF;
    border-width: 2px;
  }
  .link--person {
    color: #3E6DB3;
    text-decoration: none;
  }
}
