// for main navigation

.nav{
  width: 100%;
  max-width: 65em;
  clear: both;
  display: table;
  margin: 0 auto;
}

.nav--item{
  text-align: center;
  display: table-cell;
  &:first-child{
    background: #FF4040;
  }
  &:nth-child(2){
    background: #163B42;
  }
  &:last-child{
    background: #71cedf;
  }
}

.nav--link{
  font-family: $f-avenir;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .55em 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
}