// for high level page layout

.pl-page-wrapper{
  max-width: 65em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.pl-page-margin{
  margin-left: 4%;
  margin-right: 4%;
}

.pl-lspace{
  margin-left: 1em;
}

