
.stats{
  margin: 1em 0;
}

.link--person {
  color: #444;
  color: #2D4C83;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  padding:.5em;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.link--person--avatar {
  margin-left: .25em;
  text-decoration: none;
}
@-webkit-keyframes dance{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes dance {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.effect--person {
  &:hover {
    img {
      -webkit-animation-name: dance;
      animation-name: dance;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      animation-timing-function: ease-in;
    }
  }
}
.person--avatar {
  width: 60px;
  height: 60px;
  margin: 0;
  display: block;
  @include sb-media(27em){
    width: 90px;
    height: 90px;
    vertical-align: middle;
    display: inline;
  }
  border-radius: 50%;
  border: 2px solid #DBD7D7;
}
.person--stats{
  font-size: 1.25rem;  
}
.person--stat {
  width: 5em;
  display:inline-block;
}
.you {
  font-size: .8rem;
  color: #666;
  font-weight: normal;
}
.stat-wins, .stat-losses {
  font-weight: bold;
}
.profile--content {
  padding: 1em;
  border-top: 1px solid #ccc;
}
.profile--actions {
}
.profile--content--header{
  margin: .75em 0;
}
