.player--content, .actions{
  box-sizing: border-box;
  float: left;
  width: 49.5%;
  padding: 0 2em;
}

.player--home{
  border-right: 1px solid #ccc;
  text-align: right;
}

.overall--score{
  padding: 0 1em;
  font-size: 2rem;
}
.player--name{
  font-size: 2rem;
}

.stats{
  margin: 1em 0;
}
