@import 'nib'
*, *:before, *:after 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
   
html, body
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

.main
  margin: 1em auto
  max-width: 55em

label
  display: block

.clearfix
  content: ""
  display: table
  clear: both
  width: 100%
