<footer class="clearfix footer">
  <p>
    <a href="https://github.com/patricksimpson/table">View on GitHub</a> | <a href="https://github.com/patricksimpson/table/issues">Idea or Issue?</a>
  </p>
  Table - 2014 - by Patrick Simpson
</footer>
