<nav>
  <ul class="nav">
    <li class="nav--item">
      {{#if auth.person}} 
      {{#if auth.person.isWaiting}}
      <button class="nav--link" {{action personCancelWaitingList}}>Cancel</button></li>
      {{else}}
      <button class="nav--link" {{action personJoinWaitingList}}>PING</button></li>
      {{/if}}
      {{/if}}
      <li class="nav--item">{{#link-to 'people' class="nav--link"}}Leaderboard{{/link-to}}</li>
      <li class="nav--item">{{#link-to 'completedGames' class="nav--link"}}Game History{{/link-to}}</li>
      <li class="nav--item">
        {{#if auth.person}}
        {{#link-to 'record' class="nav--link"}}Record Game{{/link-to}}
        {{#if auth.person.isModerator}} | 
        {{#link-to 'moderator'}}Schedule Game{{/link-to}}
        {{/if}}
        {{/if}}
      </li>
    </ul>
  </nav>
