<nav>
  <ul class="nav sp">
    <li class="nav--item"><a class="nav--link" href="#/">PING</a></li>
    <li class="nav--item"><a class="nav--link" href="#/">Leaderboard</a></li>
    <li class="nav--item"><a class="nav--link" href="#/games">Game History</a></li>
  </ul>
</nav>
