<h4 class="profile--content--header">Stats</h4>
<div class="person--stats">
  <p>
    <span class="person--stat-wrap"><span class="person--stat">Wins:</span><span class="stat">{{wins}}</span></span>
    <span class="person--stat-wrap"><span class="person--stat">Losses:</span><span class="stat">{{losses}}</span></span>
  </p>
  <p>
    <span class="person--stat-wrap"><span class="person--stat">Score:</span><span class="stat">{{percentage}}</span></span>
    <span class="person--stat-wrap"><span class="person--stat" title="Wins over Losses">W/L:</span><span class="stat">{{winstoloss}}</span></span> </p>
</div>
