
<div class="alert">
    {{#if pendingGames.length}}
    {{partial "partials/queue_pendingGame"}}
    {{/if}}
    {{partial "partials/queue_challenge"}}
    {{#if waitingList.length}}
    {{partial "partials/queue_waiting"}}
    {{/if}}
  </div><!-- sidebar -->
