<h1>Table</h1>
<header>
  <nav>
    <ul>
      <li>{{#link-to table.index activeClass="selected"}}Table{{/link-to}}</li>
    </ul>
  </nav>
</header>
People on table: {{people.length}}
<div class="content">
{{outlet}}
</div>
<footer>
Table footer 
</footer>
