<h2>Table Application</h2>
<nav>
  <ul>
    <li><a href="create_table">Create Table</a></li>
    <li><a href="person">Add Person</a></li>
  </ul>
</nav>
{{people.length}}
<ul>
{{#each people}}
  <li>
  {{#link-to "person" this}}
    {{name}}
  {{/link-to}}
</li>
{{/each}}
</ul>
