<header class="hero">
  <h1 class="hero--text">Table</h1>
</header>
<header class="banner">
  <nav>
    <ul class="banner--navigation">
      <li class="banner--navigation--item"><a href="/">Table Listing</a></li>
      <li class="banner--navigation--item"><a href="#">Your Profile</a></li>
    </ul>
  </nav>
</header>
<div class="main">
  People on table: {{people.length}}
  <div class="content">
    {{outlet}}
  </div>
</div>
<footer class="footer">
Table - 2014 - by Patrick Simpson 
</footer>