<div class="content--container--game gameview">
  <h2 class="gameview--main">Current Match</h2>
  <div id="activeGameContainer" class="gameview--current">
{{#if isActiveGame}}
  {{partial "partials/current_header"}}
  <div class="gameview--actions">
    <div class="scoring--text">Scoring, focus out to save score.</div>
    {{#each roundsWithIndex}}
    {{partial "partials/current_round"}}
    {{/each}}
    </div>
    {{partial "partials/current_footer"}}
  </div>
</div>
{{else}}
  <div class="content--container">
    <p>No active games</p>
    <p>{{#link-to 'moderator'}}Schedule a game?{{/link-to}}</p> 
  </div>
{{/if}}
