<div class="content--container">
{{#each challenges}}
  <p>
    {{home.name}} has challenged {{away.name}} 
  </p>
{{/each}}
  <h2>Leaderboard ({{people.length}})</h2>
  {{people-list people=people}}
</div>
